dist
node_modules

# Testing
test-results

# Nuxt
.nuxt

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
